#My aliases

#Aliases for easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ls='ls -a'
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

#Aliases for git
alias gpom="git push origin master"
alias cl="git clone"

#Aliases for updating packages
alias update="brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; conda update -n root conda; conda update --all;"

#Aliases for quick access to directories (personal)
alias glados="cd ~/Desktop/GLaDOS"
alias ml="cd ~/Desktop/GLaDOS/ML_DL"

# This should be the last line of the file for local changes
# Don't make edits below this
# [ -f ".aliases.local" ] && source ".aliases.local"
