[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEwa/EkgO11I3RqkFrzJ/gfayi1vxabL8MAs3kGufgdT
	name = GLaDO8
	email = gshreyas@icloud.com
[core]
	pager = delta
[init]
	defaultBranch = main
	templateDir = /Users/shreyasgupta/.config/git/templates
[url "git@github.com:"]
	insteadOf = https://github.com/
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
