[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKZfs6+8JWBpnlVQso/W2HrTZK33M8BKEEnn+yc+i/zd
	name = GLaDO8
	email = gshreyas@icloud.com
[core]
	sshCommand = ssh -i ~/.ssh/id_rsa
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
